* {
    font-family: 'Courier New', Courier, monospace;
}

.banner {
    
    text-align: center;
}


h1 {
    font-weight: bold;
    font-size: 3em;
}

p {
    font-size: 1em;
}

.inputfields {
    text-align: center;
    border: 20px;
    margin: 100px;
}

.dropdown {
    text-align: center;
}